
/* removes side scroll bar */
::-webkit-scrollbar {display: none;}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(41, 38, 38);
    max-width: 100%;
    width: auto;
    overflow-x: hidden;  /*Hides horizontal overflow*/
    margin: 0;
    
}

/*header*/

.container {
    width: 95%;
    margin: auto;
}

header {
    background-color: black;

    color: white;
    border-bottom: 2px solid rgb(212, 212, 40);
    padding-top: 30px;
    min-height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000; /* sets the priority level for overlapping process */
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header .current a {
    color: red;
}

header a:hover {
    color: gold;
    font-weight: bold;
}

header ul {
    margin: 0;
    padding: 0;
    
}

header li {
    float: left;
    padding: 5px 20px 0 20px;
    display: inline; /*removes the bullets and make it a one line*/
    font-weight: bold;
}

header #store-name {
    float: left;
}

header #store-name h1 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 41px;
    color: white;
    padding: 0 0 0 0;
}

header nav {
    float: right;
    margin-top: 10px;
    position: sticky;
    top: 0;
}
/* end of header */


/* for all sections */
section {
    width: 100%;
    height: 100vh;
}

/* footer */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 50px 0 30px;
    color: white;
    background-color: black;
    font-size: 13px;
    line-height: 20px;
    border-top-left-radius: 125px;
    
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}

.column {
    flex-basis: 15%;
    padding: 10px;
}

.column h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.column ul li {
    list-style:  none;
}

.column li a{
    text-decoration: none;
    color: white;
}

.column input {
    width: 120%;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid yellow;
    outline: none;
    justify-content: center;
    background-color: white; 
}

#submit-button {
    width: 60px;
    height: 33px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.credentials{
    display: inline-flex;
    padding: 10px;
    padding-bottom: 0;
}

.copyright{
    padding: 10px;
    padding-top: 40px;
    font-size: 15px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 100;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 50px;
  }


/* end of footer */



